---
import { generateSocialImage } from "astro-social-images";
import "../styles/fonts.css";
import "../styles/global.css";
import { formatPostTags } from "../utils/formatPostTags";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  tags: string;
}

const { title, description, permalink, tags } = Astro.props;
function filterLongContent(text: string) {
  /* SVG errors on text-wrap
   * read more @ https://github.com/Princesseuh/astro-social-images/issues/1
   */

  if (!text) return "";
  if (text.length > 49) return text.substring(0, 46) + "...";
  return text;
}
const socialUrl = generateSocialImage(
  {
    backgroundColor: "#202122",
    images: [
      {
        url: "public/assets/logo:light.webp",
        attributes: { top: 375, left: 900 },
      },
    ],
    texts: [
      {
        content: filterLongContent(title),
        attributes: {
          x: "55",
          y: "105",
          "font-size": "70px",
          fill: "#fff",
          "font-family": "Merriweather, serif",
        },
      },
      {
        content: filterLongContent(description),
        attributes: {
          x: "50",
          y: "325",
          "font-size": "40px",
          fill: "#fff",
          "font-family": "Merriweather, serif",
        },
      },
      {
        content: filterLongContent(formatPostTags(tags)),
        attributes: {
          x: "50",
          y: "425",
          "font-size": "20px",
          fill: "#ccc",
          "font-family": "Merriweather, serif",
        },
      },
    ],
  },
  { outputDir: "public/assets/socials", urlPath: Astro.site?.href ?? "" }
).url;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialUrl} />
