---
import BaseLayout from "./BaseLayout.astro";
import Bio from "../components/Bio.astro";
import { formatPostTags } from "../utils/formatPostTags";
import { getSlugFromFile } from "../utils/getPostData";

interface Frontmatter {
  title: string;
  publishDate: string;
  description: string;
  permalink: string;
  readingTime: string;
  tags?: string;
}

export interface Props {
  post: {
    file: string;
    frontmatter: Frontmatter;
    Content: any;
  };
}

const { title, description, publishDate, tags, readingTime } =
  Astro.props.frontmatter || Astro.props;
const tagList = formatPostTags(tags);
const permalink = `${Astro.site?.href}${getSlugFromFile(Astro.url.pathname)}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  tags={tags ?? ""}
  current="blog"
>
  <header>
    <p>{publishDate} ~ {readingTime}</p>
    <h1>{title}</h1>
    <p class="lower">{tagList}</p>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <div
        id="ra-player"
        data-skin="https://assets.readaloudwidget.com/embed/skins/default"
      >
        <div
          class="ra-button"
          style=""
          onclick="(function (e, n) {
            var s = 'https://assets.readaloudwidget.com/embed/';
            /iPad|iPhone|iPod/.test(navigator.userAgent) &&
              ((e.src = s + 'sound/silence.mp3'),
              e.play(),
              'undefined' != typeof speechSynthesis &&
                speechSynthesis.speak(new SpeechSynthesisUtterance(' ')));
            var t = document.createElement('script');
            (t.onload = function () {
              readAloudInit(e, n);
            }),
              (t.src = s + 'js/readaloud.min.js'),
              document.head.appendChild(t);
          })(document.getElementById('ra-audio'), document.getElementById('ra-player'))"
        >
          <img
            src="https://assets.readaloudwidget.com/embed/skins/default/play-icon.png"
          />
          <p>Clique para ouvir esse artigo</p>
        </div>
      </div>
      <audio
        id="ra-audio"
        data-lang="pt-BR"
        data-voice="free"
        data-key="e09bdaf2c4dd2999cf1b2eda32c78cc0"></audio>
      <slot />
    </article>
    <hr />
    <Bio />
  </div>
  <style>
    .ra-button {
      padding: 0.3em 0.9em;
      border-radius: 0.25em;
      background: linear-gradient(var(--text-main), var(--text-secondary));
      box-shadow: 0 1px 0.2em gray;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
    .ra-button img {
      height: 1em;
      margin: 0 0.5em 0 0;
    }
    .ra-button > p {
      color: var(--background-body);
      margin: 0;
    }
  </style>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  .lower {
    text-transform: lowercase;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
